*{
    margin: 0;
    padding: 0;
    line-height: 0;
}
body{
    background-color: #ccc;
    text-align: center;
}
.container{
    width: 640px;
    margin: 15px auto;
    border: 3px solid #fefefe;
    overflow: auto;
}

.image{
    width: 213px;
    float: left;
    border:3px solid white;
    box-sizing: border-box;
}

.image:hover{
    opacity: .5;
    cursor: pointer;
}


